body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
}

#container {
    display: grid;
    aspect-ratio: 1;
    height: 80vh;
    border: 2px solid black;
}

div.square {
    aspect-ratio: 1;
}
